@import '_variables';

@font-face {
  font-family: 'Roboto Bold';
  src: url(webfonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'Roboto Regular';
  src: url(webfonts/Roboto-Regular.ttf);
}

html,
body {
  background-color: $brand_color;
  overflow: hidden;
}

body {
  color: $white;
  min-height: 100vh;
}

.wrapper {

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  height: 100vh;

  background-color: $brand_color;

  h1 {

    font-family: 'Roboto Bold';

    position: relative;
    display: inline-block;

    margin-bottom: 2rem;

    font-size: 90px;

    &:after {
      content: ' ';
      display: block;
      position: absolute;

      height: 10px;
      width: 100%;
      background-color: $white;
    }
  }

  h2 {
    font-family: 'Roboto Regular';
    font-size: 45px;
  }

  @media (max-width: 575.98px) {
    h1 {

      margin-bottom: 1.5rem;

      font-size: 50px;

      &:after {
        height: 5px;
      }
    }

    h2 {
      font-size: 25px;
    }
  }
}